<div>
  <div class="m-3">
    <nav class="navbar navbar-light bg-primary">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Vaccine Availability Check</span>
      </div>
    </nav>
  </div>
  <div class="mx-3">
      <label for="states"> State </label>
      <select class="form-select" id="states" [(ngModel)]='selectedState' (change)='updateDistricts()'>
        <option *ngFor="let state of states" [value]="state">{{ state }}</option>
      </select>

      <label for="districts"> District </label>
      <select class="form-select" id="districts" [(ngModel)]='selectedDistrict'>
        <option *ngFor="let district of districts" [value]="district">{{ district }}</option>
      </select>

      <label for="ages"> Minimum Age </label>
      <select class="form-select" id="ages" [(ngModel)]='selectedAge'> 
        <option *ngFor="let age of minAge" [value]="age">{{ age }}</option>
      </select>

      <label for="vaccines"> Vaccine </label>
      <select class="form-select" id="vaccines" [(ngModel)]='selectedVaccine'>
        <option *ngFor="let vaccine of vaccines" [value]="vaccine">{{ vaccine }}</option>
      </select>
    </div>
    <div class="m-3">
      <button class="btn btn-primary" (click)="search()"> Search </button>
    </div>
    <div class="m-3">
      <ag-grid-angular
      style="width: 100%; height: 500px;"
      class="ag-theme-alpine"
      [rowData]="display"
      [columnDefs]="columnDefs"
      animateRows="true"
      (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
</div>

  